@import 'jeet'
@import 'kouto-swiss'
@import 'rupture'
@import 'variable'
@import 'font'
@import 'layout/header'
@import 'layout/main'
@import 'layout/nav'
@import 'articles/history'
@import 'articles/cupido'

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  font-family: 'Open Sans';
  font-weight: 400;
}
