.header
  height 100%
  width 100%
  display block
  position relative
  // filter: grayscale(1)
  background-image url('../image/header.jpg')
  background-repeat no-repeat
  background-size cover
  background-position center center
  z-index -1
  &:before
    content ''
    display block
    background-color primary
    opacity 0.5
    absolute 0 0 0 0

.title
  margin auto
  absolute 0 0 0 0
  text-align center
  height 1.5em
  font-size 3rem
  font-weight 700
  color #fff
  .fa
    font-size 2rem
  // filter: blur(0);
