.header
  height 100%
  width 100%
  display block
  position relative
  // filter: grayscale(1)
  background-image url('../image/header.jpg')
  background-repeat no-repeat
  background-size cover
  background-position center center
.mask-bg
  display block
  background-color primary
  opacity 0.5
  absolute 0 0 0 0

.title
  margin auto
  absolute 0 0 0 0
  text-align center
  height 1.5em
  font-size 3rem
  font-weight 700
  color #fff
  .fa
    font-size 2rem
  // filter: blur(0);
.btn-presents
  margin auto
  position absolute
  left 0
  right 0
  bottom 0
  top 130px
  color #fff
  text-decoration none
  font-weight 700
  text-align center
  padding 10px 0
  max-height 44px
  border-radius (@max-height/2)
  width 250px
  display block
  border 2px solid #fff
  text-transform uppercase
  z-index 99999
  &:hover
    background primary
    border-color primary
    box-shadow 0px 0px 3px rgba(0,0,0,0.5)

