.main
  display block
  height 100%

.content
  center(960px)

.container
  +below(rupture.desktop-cutoff)
    transition transform 0.5s
    transform translate(0, 0)
    &.is-open
      transform translate(200px, 0)
